# User-specific files
.idea/
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer XML files
*.wixpdb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]eploy/
[Dd]ebug-x64/
[Dd]ebug-x86/
[Dd]Release/
bin/
obj/
[Ll]og/

# Microsoft Visual Studio for Mac
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# JetBrains Rider
.idea/
